.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #222;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.bold {
  font-weight: bold;
  color: #f4f4f4;
}

.result {
  margin-bottom: 30px;
  background-color: #333;
  padding: 15px;
  border-radius: 8px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
}

.correct-answers {
  margin-top: 20px;
}

.correct-answers h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #444;
  color: #fff;
  margin-top: 10px;
  border-radius: 8px;
  overflow: hidden;
}

table thead {
  background-color: #555;
  text-align: left;
}

table thead th {
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

table tbody tr {
  transition: background-color 0.3s;
}

table tbody tr:nth-child(even) {
  background-color: #333;
}

table tbody tr:hover {
  background-color: #555;
}

table td, table th {
  padding: 12px;
  border: 1px solid #666;
}

table td {
  text-align: left;
}

.start {
  text-align: center;
  margin-top: 20px;
}

.start .btn {
  padding: 10px 20px;
  background-color: #2aff95;
  color: #000;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
}

.start .btn:hover {
  background-color: #27d87a;
  color: #fff;
}

